<h2>adjustements</h2>
<table cellspacing='0px'>
	<thead>
	<tr>
		<% for(var attr in js.Models.Adjustement.attributes){%>
			<% if(attr == 'id') continue;%>
			<th><%= attr%> </th>	 
		<%}%>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
		<%= $.View('//js/views/adjustement/list',{adjustements: adjustements})%>
	</tbody>
</table>
<h2>New adjustement</h2>
<form>
	<% for(var attr in js.Models.Adjustement.attributes){ %>
		<% if(attr == 'id') continue;%>
		<div>
			<label><%= attr %> </label><br />
			<input type="text" value="" name="<%= attr %>"/>
		</div>
	<%}%>
	<input type='submit' value='Create'/>
</form>