<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.ConventionMapper">


<cache />
  
 <insert id="insertConvention" parameterType="model.listini.Convention" useGeneratedKeys="true" keyProperty="id">
 	insert into convention(name,description,activationCode,id_structure) values (#{name},#{description},#{activationCode},#{id_structure}) 	
 </insert>
 
 <update id="updateConvention" parameterType="model.listini.Convention">
 	update convention set name = #{name},description = #{description},activationCode = #{activationCode},id_structure = #{id_structure} where id = #{id}
 </update>
 
 <delete id="deleteConvention" parameterType="int"> 
 	delete from convention where id = #{id}
 </delete>
 
 <select id="findConventionsByIdStructure" parameterType="int" resultType="model.listini.Convention">
  	<include refid="selectConvention"/> where id_structure = #{id_structure} 
 </select>
 
 <select id="findConventionById" parameterType="int" resultType="model.listini.Convention">
  	<include refid="selectConvention"/> where id = #{id} 
 </select>
 
 <sql id="selectConvention">
 	select id,name,description,activationCode,id_structure from convention
 </sql>
    
</mapper>