<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.ExtraItemMapper">
    <cache/>
    
    <select id="findExtraItemsByIdBooking" resultType="model.ExtraItem" parameterType="int">
        <include refid="selectExtraItem"/>where id_booking = #{id_booking}
    </select>
    
    <sql id="selectExtraItem">
        select id,id_booking,id_extra,quantity,maxQuantity,unitaryPrice from extraItem
    </sql>
    
    <insert id="insertExtraItem" parameterType="model.ExtraItem" useGeneratedKeys="true" keyProperty="id">
        insert into extraItem(id_booking,id_extra,quantity,maxQuantity,unitaryPrice)
        values(#{id_booking},#{id_extra},#{quantity},#{maxQuantity},#{unitaryPrice})
        
    </insert>
    
    <delete id="deleteExtraItemsByIdBooking" parameterType="int">
        delete from extraItem where id_booking = #{id_booking}
    </delete>
    
</mapper>