<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.ExtraMapper">
    <cache/>
    
    <select id="findExtrasByIdStructure" parameterType="int" resultType="model.Extra">
        <include refid="selectExtras"/> WHERE id_structure = #{id}
    </select>
    
    <select id="findExtrasByIdStructureAndAvailableOnline" parameterType="map" resultType="model.Extra">
        <include refid="selectExtras"/> WHERE id_structure = #{id_structure} AND availableOnline = #{availableOnline}
    </select>
    
    <select id="findExtraById" parameterType="int" resultType="model.Extra">
        <include refid="selectExtras"/> WHERE id = #{id}
    </select>
    
    <select id="findAll" resultType="model.Extra">
        <include refid="selectExtras"/> 
    </select>
    
    <sql id="selectExtras">
        SELECT id,name,timePriceType,resourcePriceType,description,id_structure,availableOnline FROM extra
    </sql>
    
    <update id="updateExtra" parameterType="model.Extra">
        UPDATE extra set name=#{name},timePriceType=#{timePriceType},resourcePriceType=#{resourcePriceType},description=#{description},id_structure=#{id_structure},availableOnline=#{availableOnline} WHERE id = #{id}
    </update>
    
    <insert id="insertExtra" keyProperty="id" useGeneratedKeys="true" parameterType="model.Extra">
        INSERT INTO extra(name,timePriceType,resourcePriceType,description,id_structure,availableOnline) values(#{name},#{timePriceType},#{resourcePriceType},#{description},#{id_structure},#{availableOnline})
    </insert>
    
    <delete id="deleteExtra" parameterType="int">
        DELETE FROM extra WHERE id = #{id}
    </delete>
    
</mapper>