<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.FacilityMapper">
    <cache/>
	
    <insert id="insertFacility" parameterType="model.Facility" useGeneratedKeys="true" keyProperty="id">
        INSERT into facility(name,description) values (#{name},#{description})
    </insert>
	
    <insert id="insertRoomFacility" parameterType="map">
        INSERT into roomFacility(id_room,id_facility) values (#{id_room},#{id_facility})
    </insert>
	
    <insert id="insertRoomTypeFacility" parameterType="map">
        INSERT into roomTypeFacility(id_roomType,id_facility) values (#{id_roomType},#{id_facility})
    </insert>
	
    <insert id="insertStructureFacility" parameterType="map">
        INSERT into structureFacility(id_structure,id_facility) values (#{id_structure},#{id_facility})
    </insert>   
    
    <select id="findFacilityById" parameterType="int" resultType="model.Facility">
        <include refid="findFacility"/> where id = #{id}        
    </select>
    
    <select id="findStructureFacilityIdsByIdStructure" parameterType="int" resultType="int">
       SELECT id_facility from structureFacility where id_structure = #{id_structure}
    </select>
    
    <select id="findRoomTypeFacilityIdsByIdStructure" parameterType="int" resultType="int">
       SELECT DISTINCT id_facility from roomTypeFacility where id_roomType IN (SELECT id FROM roomType WHERE id_structure = #{id_structure})
    </select>
    
    <select id="findRoomTypeFacilityIdsByIdRoomType" parameterType="int" resultType="int">
       SELECT  id_facility from roomTypeFacility where id_roomType = #{id_roomType}
    </select>
    
    <select id="findRoomFacilityIdsByIdStructure" parameterType="int" resultType="int">
       SELECT DISTINCT id_facility from roomFacility where id_room IN (SELECT id FROM room WHERE id_structure = #{id_structure})
    </select>
        
    <select id="findRoomFacilityIdsByIdRoom" parameterType="int" resultType="int">
       SELECT  id_facility from roomFacility where id_room = #{id_room}
    </select>
       
    
    <sql id="findFacility">
        SELECT id,name,description,id_image from facility
    </sql>   
    
    <delete id="deleteFacility" parameterType="int">
        DELETE from facility where id = #{id} 
    </delete>
    
    <delete id="deleteStructureFacility" parameterType="map">
        DELETE from structureFacility where id_structure = #{id_structure} AND id_facility = #{id_facility}
    </delete>
    
    <delete id="deleteRoomTypeFacility" parameterType="map">
        DELETE from roomTypeFacility where id_roomType = #{id_roomType} AND id_facility = #{id_facility}
    </delete>
    
    <delete id="deleteRoomFacility" parameterType="map">
        DELETE from roomFacility where id_room = #{id_room} AND id_facility = #{id_facility}
    </delete>  
    
    
</mapper>