<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.GuestMapper">
    <cache/>
    
    <select id="findGuestsByIdStructure" parameterType="int" resultType="model.Guest">
        <include refid="selectGuests"/>WHERE id_structure = #{id_structure}
    </select>
    
    <select id="findGuestById" parameterType="int" resultType="model.Guest">
        <include refid="selectGuests"/>WHERE id = #{id}
    </select>
    
    <select id="findAll" resultType="model.Guest">
        <include refid="selectGuests"/> 
    </select>
    
    <sql id="selectGuests">
        SELECT id,firstName,lastName,gender,birthDate,email,phone,address,zipCode,notes,idNumber,id_countryOfBirth,id_municipalityOfBirth,id_countryOfResidence,id_municipalityOfResidence,id_citizenship,id_idType,id_idPlace,id_structure FROM guest
    </sql>
    
    <insert id="insertGuest" parameterType="model.Guest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO guest(firstName,lastName,gender,birthDate,email,phone,address,zipCode,notes,idNumber,id_countryOfBirth,id_municipalityOfBirth,id_countryOfResidence,id_municipalityOfResidence,id_citizenship,id_idType,id_idPlace,id_structure) values
        (#{firstName},#{lastName},#{gender},#{birthDate},#{email},#{phone},#{address},#{zipCode},#{notes},#{idNumber},#{id_countryOfBirth},#{id_municipalityOfBirth},#{id_countryOfResidence},#{id_municipalityOfResidence},#{id_citizenship},#{id_idType},#{id_idPlace},#{id_structure})
    </insert>
    
    <update id="updateGuest" parameterType="model.Guest">
        UPDATE guest set
        firstName= #{firstName},lastName= #{lastName},gender=#{gender},birthDate=#{birthDate},email= #{email},phone= #{phone},address= #{address},zipCode= #{zipCode},notes= #{notes},idNumber= #{idNumber},id_countryOfBirth= #{id_countryOfBirth},id_municipalityOfBirth= #{id_municipalityOfBirth},id_countryOfResidence= #{id_countryOfResidence},id_municipalityOfResidence= #{id_municipalityOfResidence},id_citizenship= #{id_citizenship},id_idType= #{id_idType},id_idPlace= #{id_idPlace},id_structure= #{id_structure}
        WHERE id = #{id}
    </update>
    
    <delete id="deleteGuest" parameterType="int">
        DELETE FROM guest WHERE id= #{id}
    </delete>
    
</mapper>