<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.HousedMapper">
    <cache/>
    
    <select id="findHousedByIdBooking" parameterType="int" resultType="model.Housed">
        <include refid="selectHoused"/> AND id_booking = #{id_booking}
    </select>
    
    <select id="findHousedByIdGuest" parameterType="int" resultType="model.Housed">
        <include refid="selectHoused"/> AND id_guest = #{id_guest}
    </select>
    
    <select id="findHousedByIdBookingAndIdGuest" parameterType="map" resultType="model.Housed">
        <include refid="selectHoused"/> AND id_booking = #{id_booking} AND id_guest = #{id_guest}
    </select>
    
    <select id="findHousedById" parameterType="int" resultType="model.Housed">
        <include refid="selectHoused"/> AND id = #{id}
    </select>
 
    <select id="findHousedByIdIncludingDeleted" parameterType="int" resultType="model.Housed">
        <include refid="selectHousedIncludingDeleted"/> WHERE id = #{id}
    </select>   
    
    <select id="findAll" resultType="model.Housed">
        <include refid="selectHoused"/> 
    </select>
    
    <sql id="selectHoused">
        SELECT id,id_booking,id_guest,id_housedType,id_tourismType,id_transport,checkInDate,checkOutDate,deleted,touristTax FROM housed WHERE deleted=0
    </sql>
    
    <sql id="selectHousedIncludingDeleted">
        SELECT id,id_booking,id_guest,id_housedType,id_tourismType,id_transport,checkInDate,checkOutDate,deleted,touristTax FROM housed
    </sql>
    
    <insert id="insert" parameterType="model.Housed" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO housed(id_booking,id_guest,id_housedType,id_tourismType,id_transport,checkInDate,checkOutDate,deleted,touristTax) values
        (#{id_booking},#{id_guest},#{id_housedType},#{id_tourismType},#{id_transport},#{checkInDate},#{checkOutDate},#{deleted},#{touristTax})
    </insert>
    
    <update id="update" parameterType="model.Housed">
        UPDATE housed set
        id_booking= #{id_booking},id_guest= #{id_guest},id_housedType= #{id_housedType},id_tourismType= #{id_tourismType},id_transport= #{id_transport},checkInDate= #{checkInDate},checkOutDate=#{checkOutDate},deleted=#{deleted},touristTax=#{touristTax}
        WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="int">
        UPDATE housed set deleted=1 WHERE id= #{id}
    </delete>
    
    <delete id="deleteHousedByIdBooking" parameterType="int">
        UPDATE housed set deleted=1 where id_booking = #{id_booking}
    </delete>
    
</mapper>