<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.RoomPriceListItemMapper">
    <cache/>
	
    <insert id="insertRoomPriceListItem" parameterType="model.listini.RoomPriceListItem" useGeneratedKeys="true" keyProperty="id">
        insert into roomPriceListItem(numGuests,priceSunday,priceMonday,priceTuesday, priceWednesday,priceThursday,priceFriday,priceSaturday,id_roomPriceList)
        values(#{numGuests},#{priceSunday},#{priceMonday},#{priceTuesday},#{priceWednesday},#{priceThursday},#{priceFriday},#{priceSaturday},#{id_roomPriceList})
    </insert>
	
    <delete id="deleteRoomPriceListItemsByIdRoomPriceList" parameterType="int">
        delete from roomPriceListItem where id_roomPriceList = #{id_roomPriceList}
    </delete>
	
    <select id="findRoomPriceListItemsByIdRoomPriceList" resultType="model.listini.RoomPriceListItem" parameterType="int">
        select id,numGuests,priceSunday,priceMonday,priceTuesday, priceWednesday,priceThursday,priceFriday,priceSaturday,id_roomPriceList
        from  roomPriceListItem
        where id_roomPriceList = #{id_roomPriceList}
    </select>
	
    <update id="updateRoomPriceListItem" parameterType="model.listini.RoomPriceListItem">
        update roomPriceListItem
        set priceSunday = #{priceSunday},priceMonday = #{priceMonday},priceTuesday = #{priceTuesday}, priceWednesday = #{priceWednesday},priceThursday = #{priceThursday},priceFriday = #{priceFriday},priceSaturday = #{priceSaturday}
        where id = #{id}
    </update>
    
</mapper>