<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.RoomMapper">
    <cache/>
	
    <insert id="insertRoom" parameterType="model.Room" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO room(name,notes,id_roomType,id_structure) values(#{name},#{notes},#{id_roomType},#{id_structure})
    </insert>
    
    <update id="updateRoom" parameterType="model.Room">
        UPDATE room set name = #{name},notes = #{notes},id_roomType = #{id_roomType},id_structure = #{id_structure} WHERE id = #{id}
    </update>
    
    <delete id="deleteRoom">
        DELETE FROM room WHERE id = #{id}
    </delete>
    
    <select id="findAll" resultType="model.Room">
        <include refid="selectRoom"/> 
    </select>
    
    <select id="findRoomsByIdStructure" parameterType="int" resultType="model.Room">
        <include refid="selectRoom"/>WHERE id_structure = #{id_structure}
    </select>
    
    <select id="findRoomsByIdStructureOrdered" parameterType="int" resultType="model.Room">
        <include refid="selectRoom"/>WHERE id_structure = #{id_structure} ORDER by id_roomType ASC
    </select>
    
    <select id="findRoomIdsByIdStructure" parameterType="int" resultType="int">
        <include refid="selectRoomId"/>WHERE id_structure = #{id_structure}
    </select>
    
    <select id="findRoomsByIdStructureAndOffsetAndRownum" parameterType="map" resultType="model.Room">
        <include refid="selectRoom"/>WHERE id_structure = #{id_structure} LIMIT #{offset}, #{rownum}
    </select>
    
    <select id="findRoomById" parameterType="int" resultType="model.Room">
        <include refid="selectRoom"/>WHERE id = #{id}
    </select>
    
    <select id="findRoomByIdStructureAndName" parameterType="map" resultType="model.Room">
        <include refid="selectRoom"/>WHERE id_structure = #{id_structure} AND name = #{name}
    </select>
    
    <select id="findRoomsByIdRoomType" parameterType="int" resultType="model.Room">
        <include refid="selectRoom"/>WHERE id_roomType = #{id_roomType}
    </select>
    
    <select id="countRoomsByIdRoomType" parameterType="int" resultType="int">
        SELECT count(id) FROM room WHERE id_roomType = #{id_roomType}
    </select>    
    
    <select id="findIdStructureByIdRoom" parameterType="int" resultType="int">
        <include refid="selectIdStructure"/>WHERE id = #{id}
    </select>
    
    <sql id="selectRoom">
        SELECT id,name,notes,id_roomType,id_structure FROM room
    </sql>
    
    <sql id="selectRoomId">
        SELECT id FROM room
    </sql>
    
    <sql id="selectIdStructure">
        SELECT id_structure FROM room
    </sql>
    
</mapper>