<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.RoomTypeFacilityMapper">
    <cache/>
		
    <insert id="insert" parameterType="map">
        INSERT into roomTypeFacility(id_roomType,id_facility) values (#{id_roomType},#{id_facility})
    </insert>    
     
    <select id="findByIdRoomType" parameterType="map" resultType="map">
       SELECT  id,id_roomType,id_facility from roomTypeFacility where id_roomType = #{id_roomType} LIMIT #{offset}, #{rownum}
    </select>  
    
    <select id="findIdByIdRoomTypeAndIdFacility" parameterType="map" resultType="int">
        select id from roomTypeFacility where id_roomType = #{id_roomType} AND id_facility = #{id_facility}
    </select>       
        
    <delete id="delete" parameterType="int">
        DELETE from roomTypeFacility where id = #{id}
    </delete>    
    <delete id="deleteByIdRoomType" parameterType="int">
        DELETE from roomTypeFacility where id_roomType = #{id_roomType}
    </delete>    
    <delete id="deleteByIdFacility" parameterType="int">
        DELETE from roomTypeFacility where id_facility = #{id_facility}
    </delete>
        
        
</mapper>