<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.StructureImageMapper">
    <cache/>
	
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="map">
        insert into structureImage(id_structure,id_image) values(#{id_structure},#{id_image})
    </insert>        
    
    <select id="findIdByIdStructureAndIdImage" parameterType="map" resultType="int">
        select id from structureImage where id_structure = #{id_structure} AND id_image = #{id_image}
    </select>  
    
    <select id="findByIdStructure" parameterType="map" resultType="map">
        select id,id_structure,id_image from structureImage where id_structure = #{id_structure} LIMIT #{offset}, #{rownum}
    </select>  
        
    <delete id="delete" parameterType="int">
        DELETE from structureImage where id = #{id}
    </delete>
	<delete id="deleteByIdImage" parameterType="int">
        DELETE from structureImage where id_image = #{id_image}
    </delete>   
    <delete id="deleteByIdStructure" parameterType="int">
        DELETE from structureImage where id_structure = #{id_structure}
    </delete>     	
	    
</mapper>