<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.StructureFacilityMapper">
    <cache/>
		
    <insert id="insert" parameterType="map">
        INSERT into structureFacility(id_structure,id_facility) values (#{id_structure},#{id_facility})
    </insert>     
    
    <select id="findByIdStructure" parameterType="map" resultType="map">
       SELECT id,id_structure, id_facility from structureFacility where id_structure = #{id_structure} LIMIT #{offset}, #{rownum}
    </select>   
    
    <select id="findIdByIdStructureAndIdFacility" parameterType="map" resultType="int">
        select id from structureFacility where id_structure = #{id_structure} AND id_facility = #{id_facility}
    </select> 
          
    <delete id="delete" parameterType="int">
        DELETE from structureFacility where id = #{id}
    </delete>    
     
    <delete id="deleteByIdStructure" parameterType="int">
        DELETE from structureFacility where id_structure = #{id_structure}
    </delete>  
      
     <delete id="deleteByIdFacility" parameterType="int">
        DELETE from structureFacility where id_facility = #{id_facility}
    </delete>  
              
</mapper>