<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2011 - Sardegna Ricerche, Distretto ICT, Pula, Italy

Licensed under the EUPL, Version 1.1.
You may not use this work except in compliance with the Licence.
You may obtain a copy of the Licence at:

http://www.osor.eu/eupl

Unless required by applicable law or agreed to in  writing, software distributed under the Licence is distributed on an "AS IS" basis,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the Licence for the specific language governing permissions and limitations under the Licence.
In case of controversy the competent court is the Court of Cagliari (Italy).
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="persistence.mybatis.mappers.StructureMapper">

	<select id="findAll" resultType="model.Structure">
        <include refid="selectStructure"/> 
    </select>

    <select id="findStructureByIdUser" parameterType="int" resultType="model.Structure">
        <include refid="selectStructure"/>WHERE id_user = #{id_user}
    </select>
    
    <select id="findStructureById" parameterType="int" resultType="model.Structure">
        <include refid="selectStructure"/>WHERE id = #{id}
    </select>
	
    <update id="updateStructure" parameterType="model.Structure">
        UPDATE structure
        set name= #{name},email= #{email},url= #{url},phone= #{phone},fax= #{fax},address= #{address},city= #{city},country= #{country},zipCode= #{zipCode},notes= #{notes},id_user= #{id_user},mobile= #{mobile},taxNumber= #{taxNumber}
        WHERE id = #{id}
    </update>
	
    <insert id="insertStructure" useGeneratedKeys="true" keyProperty="id" parameterType="model.Structure">
        INSERT INTO
        structure(name,email,url,phone,mobile,fax,address,city,country,zipCode,notes,taxNumber,id_user)
        values(#{name}, #{email}, #{url}, #{phone}, #{mobile}, #{fax}, #{address}, #{city}, #{country}, #{zipCode}, #{notes}, #{taxNumber}, #{id_user})
    </insert>
    
    <sql id="selectStructure">
        SELECT id,name,email,url,phone,mobile,fax,address,city,country,zipCode,notes,taxNumber,id_user FROM structure
    </sql>
    
</mapper>