<h2>facilities</h2>
<table cellspacing='0px'>
	<thead>
	<tr>
		<% for(var attr in Locanda.Models.Facility.attributes){%>
			<% if(attr == 'id') continue;%>
			<th><%= attr%> </th>	 
		<%}%>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
		<%= $.View('//locanda/views/facility/list',{facilities: facilities})%>
	</tbody>
</table>
<h2>New facility</h2>
<form>
	<% for(var attr in Locanda.Models.Facility.attributes){ %>
		<% if(attr == 'id') continue;%>
		<div>
			<label><%= attr %> </label><br />
			<input type="text" value="" name="<%= attr %>"/>
		</div>
	<%}%>
	<input type='submit' value='Create'/>
</form>