<form class="yform">
	<fieldset>
	         <div class="c62l">
	         	<img width="24" height="24" src="<%=facility.fileName %>" alt="facility"/>
	         	<hr/>
		<label for="name"><%=labels.name %></label>
		<input type="text" name="name" id="name" value="<%=facility.name %>" />
		<input type="hidden" name="facility.id"  value="<%=facility.id %>" />
		</div>
	</fieldset>
	</form>